<%= avatar @user %>
<h1><%= @user.username %></h1>
<%= follow_button @user %>

<% @shouts.each do |shout| %>
  <div>
    <%= avatar shout.user %>
    <%= profile_link(shout.username) %>
    <%= render shout.content %> 
    <%= time_ago_in_words(shout.created_at)%>
    <%= like_button(shout) %>
  </div>
<% end %>

<%= javascript_pack_tag 'dashboard' %>